.HeroSectionbody{
    background:url(../images/hero_bg.svg),#444A92;
    height:100vh;
    width:100%;
}

@media (min-width: 576px) {  
 
}



@media (min-width: 768px) { 
 
  

}


@media (min-width: 992px) { 
 
}



@media (min-width: 1200px) {

 

}