.Mysidebar{
    display: block !important;
   
}
.Navbodiesx{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding:0.4rem 0rem 0.4rem 0rem;
    gap: 5.5rem;
    width:100%;
    background-color: #232759;
  
}
.Navbodies{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    position: relative;
   
}
.Navindicator{
    width:9px;
    height:100%;
    background-color:#58A0DF;
}

@media (min-width: 576px) {  
   
}


/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) { 
 
  
  

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
 
    .Mysidebar{
        display: none !important;
      
    }
    
}


/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

 

}